---
import BaseLayout from '~/layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="grid min-h-screen place-items-center">
    <h1 class="text-xl font-medium">Tinogasta Labs</h1>
  </main>
</BaseLayout>
