---
import { Icon } from 'astro-icon/components'
---

<section class="pt-4 md:pt-14">
  <div class="mx-auto md:max-w-screen-md md:text-center">
    <h1
      class="text-balance text-3xl font-medium md:text-4xl md:leading-tight md:tracking-tight"
    >
      Creamos soluciones digitales que resuelven problemas reales.
    </h1>
    <p class="mt-4 text-balance text-lg text-fg-muted md:text-xl">
      Somos una comunidad de desarrollo de software de la ciudad de Tinogasta.
      Convertimos problemas complejos en soluciones simples y efectivas.
    </p>
    <div class="mt-8 flex items-center gap-6 md:mt-10 md:justify-center">
      <a
        href="/contact"
        class="flex h-12 items-center rounded-lg bg-accent px-6 font-medium text-white"
        >Contacto</a
      >
      <a
        class="inline-flex items-center gap-1 text-lg"
        href="https://github.com/tinogasta-labs"
        target="_blank"
        rel="noreferrer noopener">Github <Icon name="arrow-right" /></a
      >
    </div>
  </div>
</section>
